<ion-content [fullscreen]="true" fixed-slot-placement="before">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/create-task']">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <header>
    <p class="sub-intro">{{ date | dateFormat: 'MMMM dd, yyy' }}</p>
    <p class="intro">Good day, Anon!</p>
  </header>
  <main>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
      tempora cupiditate deleniti aliquid quaerat voluptatum. Est molestiae
      deleniti aut, pariatur minima, asperiores soluta praesentium error, quasi
      veritatis earum molestias unde.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
      tempora cupiditate deleniti aliquid quaerat voluptatum. Est molestiae
      deleniti aut, pariatur minima, asperiores soluta praesentium error, quasi
      veritatis earum molestias unde.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
      tempora cupiditate deleniti aliquid quaerat voluptatum. Est molestiae
      deleniti aut, pariatur minima, asperiores soluta praesentium error, quasi
      veritatis earum molestias unde.
    </p>
  </main>
</ion-content>
