header {
  background-color: var(--primary-color);
  padding: 20px;
}

main {
  background-color: var(--secondary-color);
  padding: 20px;
}

p {
  margin: 0;
}

.intro {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.sub-intro {
  color: var(--intro-text);
}
