header {
  background-color: #5C99FF;
  padding: 20px;
}

main {
  background-color: #DDF9F1;
  padding: 20px;
}

p {
  margin: 0;
}

.intro {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.sub-intro {
  color: #eaeaea;
}
